<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar.ejs')%>
<%- include('../partials/flash.ejs')%>
<div class="row">
    <div class="col-6 mx-auto">
        <form action="/subjects/<%=foundSubject._id%>?_method=PATCH" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="naam">Name:</label>
                <input type="text" class="form-control" name="name" id="naam" placeholder="Name of the Subject" value="<%=foundSubject.name%>" required>
                <div class="valid-feedback">
                    It looks good
                </div>
                <div class="invalid-feedback">
                    Enter a valid name
                </div>
            </div>
            <div class="mb-3">
                <label for="img">Image:</label>
                <input type="text" class="form-control" name="img" id="img" placeholder="Image URL of the Subject" value="<%=foundSubject.img%>" required>
                <div class="valid-feedback">
                    It looks good
                </div>
                <div class="invalid-feedback">
                    Enter a valid image URL
                </div>
            </div>
            <div class="mb-3">
                <label for="Credits">Credits:</label>
                <input type="number" class="form-control" name="Credits" id="Credits" placeholder="Credits of the Subject" value="<%=foundSubject.Credits%>" required>
                <div class="valid-feedback">
                    It looks good
                </div>
                <div class="invalid-feedback">
                    Enter a valid credits
                </div>
            </div>
            <div class="mb-3">
                <label for="ContactHours">Contact Hours:</label>
                <input type="number" class="form-control" name="ContactHours" id="ContactHours" placeholder="Estimated Contact Hours" value="<%=foundSubject.ContactHours%>" required>
                <div class="valid-feedback">
                    It looks good
                </div>
                <div class="invalid-feedback">
                    Enter a valid time period in hours
                </div>
            </div>
            <div class="mb-3">
                <label for="desc">Description: </label>
                <textarea name="desc" id="desc" rows="3" placeholder="Enter text" required><%=foundSubject.desc%></textarea>
                <div class="valid-feedback">
                    It looks good
                </div>
                <div class="invalid-feedback">
                    Enter a valid description.
                </div>
            </div>
            <button class="btn btn-sm btn-success">Edit the Subject</button>
        </form>
    </div>
</div>
<script>
    (function () {
  'use strict'
    var forms = document.querySelectorAll('.needs-validation')
    Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
</body>
</html>